body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f2f5;
}

.navbar {
  background-color: #0077cc;
  padding: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navbar a:hover {
  text-decoration: underline;
}

.centered {
  min-height: 70vh;
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 400px;
  text-align: center;
  color: black;
}

input {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  padding: 10px 16px;
  font-size: 16px;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #005fa3;
}

.results {
  margin-top: 30px;
  width: 90%;
  max-width: 600px;
}

.scroll-box {
  max-height: 200px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  background-color: white;
  text-align: left;
  line-height: 1.5;
}
