body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

h1 {
  text-align: center;
  margin-top: 30px;
  color: #333;
}

form {
  background-color: #060505;
  max-width: 500px;
  margin: 30px auto;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(233, 227, 227, 0.1);
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ede8e8;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
}

input:focus,
select:focus {
  border-color: #007bff;
  outline: none;
}

button {
  background-color: #007bff;
  color: white;
  padding: 12px 20px;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}

p {
  color: #e63946;
  font-size: 13px;
  margin: -5px 0 10px;
}
