body{
  background-color: #f0f4c3;
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app {
  text-align: center;
  margin-top: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  color: #333;
}

h2 {
  margin-top: 20px;
  color: #555;
}

.btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}
