body{
  background-color: #f0f0f0;
  font-family: 'Poppins', sans-serif;
  justify-content: center;
  align-items: center;
  display: flex;
}
.app {
  text-align: center;
  margin-top: 50px;
  font-family: 'Poppins', sans-serif;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.loading {
  font-size: 18px;
  color: #888;
}

.error {
  font-size: 18px;
  color: red;
}

.data-list {
  list-style: none;
  padding: 0;
}

.data-list li {
  background-color: #f0f0f0;
  margin: 10px auto;
  padding: 10px 20px;
  width: 220px;
  border-radius: 8px;
  font-size: 18px;
  color: #444;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
